body {
  color: #007bff;
}

#gameBody {
  margin: 10px 0;
  border-top: 3px solid #007bff;
  border-bottom: 3px solid #007bff;
}

.row {
  height: 500px;
}

.banner {
  position: relative;
  height: 100%;
  text-align: center;
  align-items: center;
}

.banner p {
  position: relative;
  top: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: #333333;
}

#resultText {
  padding-top: 90px;
}
#resultWindow {
  padding: 30px;
  display: flex;
  justify-content: center;
}
#showResult {
  font-size: 50px;
  letter-spacing: 10px;
}

#resultImage {
  max-height: 440px;
}

.resultPanel {
  display: grid;
  font-size: 20px;
  align-items: flex-start;
}
.resultPanel p {
  color: #333333;
  font-size: 50px;
  align-items: baseline;
}
